@import "tailwindcss";

:root {
    --azul-escuro: #071224;
    --azul-medio: #0D56DF;
    --gradiente-fundo: linear-gradient(to bottom right, #4235F2, #2218A7, #1A1190);
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.login {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: var(--azul-escuro);
    border-radius: 10px;
    border-color: var(--azul-medio);
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #fafafa;
    min-width: 310px;
    min-height: fit-content;
    padding: 20px 6px;
    gap: 10px;
}

.card-top {
    display: flex;
    width: 95%;
    gap: 5px;
}

.text-conta {
    text-align: center;
    margin: 0px;
    padding: auto;
    width: 90%;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
    margin: 10px 0;
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.card input {
    border-radius: 4px;
    background: var(--azul-escuro);
    border-color: var(--azul-medio);
    border-style: solid;
    border-width: 1px;
    width: 250px;
    height: 25px;
}

.card button {
    width: fit-content;
    padding: 5px 40px;
    background: var(--azul-medio);
    color: #fafafa;
    border-color: var(--azul-medio);
    border-radius: 5px;
    border-style: solid;
    font-weight: 600;
}


.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-small;
    font-weight: 100;
    color: #dddbdb;
    padding: 10px;
}

.card-cadastro {
    display: grid;
    column-gap: 200px 200px;
}