@import "tailwindcss";

:root {
    --azul-escuro: #071224;
    --azul-medio: #0D56DF;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.login {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.card {
    background-color: var(--azul-escuro);
    border-radius: 10px;
    border-color: var(--azul-medio);
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #fafafa;
    min-width: 310px;
    min-height: fit-content;
    padding: 20px 6px;
    gap: 10px;
}

.card-top {
    display: flex;
    width: 95%;
    gap: 5px;
}

.text-conta {
    text-align: center;
    margin: 0px;
    padding: auto;
    width: 90%;
}

.formulario {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin: 10px 0;
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: relative;
    font-weight: 700;
}

.campo img {
    width: 20px;
    position: absolute;
    bottom: 5px;
    left: 7px;
}

.campo input {
    border-radius: 4px;
    background: var(--azul-escuro);
    border-color: var(--azul-medio);
    border-style: solid;
    border-width: 1px;
    width: 250px;
    height: 30px;
    padding-left: 35px;
}

.card button {
    width: fit-content;
    padding: 5px 40px;
    background: var(--azul-medio);
    color: #fafafa;
    border-color: var(--azul-medio);
    border-radius: 5px;
    border-style: solid;
    font-weight: 600;
}

.botao:hover {
    background-color: #346dc9;
    cursor: pointer;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-small;
    font-weight: 100;
    color: #dddbdb;
    padding: 10px;
}

  @media (width >= 48rem) {
    .md\:grid {
      display: grid;
    }
    .md\:w-auto {
      width: auto;
    }
    .md\:grid-cols-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .md\:gap-x-5 {
      column-gap: calc(var(--spacing) * 5);
    }
    .md\:gap-y-7 {
      row-gap: calc(var(--spacing) * 7);
    }
}